.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.resultContainer,
.historyItem {
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 16px;
}

.inputBox {
  height: 48px;
  width: 400px;
  background: white;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: large;
  color: rgb(72, 132, 237);
  border-radius: 25px;
  border: 5px solid rgb(72, 132, 237);
  padding-left: 14px;
}

.home-bg {
  background-image: url("./images/homebg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}