
@font-face {
  font-family: 'Frogie';
  src:local('Frogie-Regular'),
    url('./fonts/Frogie-Regular.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Frogie,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background-color: rgb(102, 217, 225);
  color:rgb(79, 177, 184);
  font-size: 24px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #171582;
  border-radius: 5px;
  padding: 0.75rem;
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Courier New,
    monospace;
}

input[type='button'] {
  border: none;
  background: rgb(79, 177, 184);
  color: white;
  padding: 20px 60px;
  margin: 8px;
  font-family: 'Frogie';
  font-size: 36px;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
}

input[type='button']:hover {
  background: rgb(66, 150, 156);
}

#titlebg {
  border-radius: 50px;
  background: rgb(154, 237, 243);
  padding: 20px;
  width: 800px;
  height: 180px;
  margin-bottom: 20px;
}

#loginbg {
  border-radius: 50px;
  background: rgb(154, 237, 243);
  padding: 70px;
  width: 600px;
  height: 500px;
}

#aboutbg {
  border-radius: 50px;
  background: rgb(154, 237, 243);
  padding: 20px;
  width: 400px;
  height: 600px;
}

* {
  box-sizing: border-box;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}