.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* initially hide the sidebar */
    width: 250px;
    height: 100%;
    background-color: rgb(97, 72, 60);
    transition: left 0.3s ease;
  }
  
  .sidebar.open {
    left: 0; /* show the sidebar when it's open */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
    font-size: 28px;
    color: white;
  }
  
  .button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
  }
  
  input[type='sidebarButton'] {
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    font-family: 'Frogie';
    font-size: 28px;
    text-align: center;
    cursor: pointer;
    width: 55%;
    padding: 10px;
  }

  .link {
    text-decoration: none;
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    font-family: 'Frogie';
    font-size: 28px;
    text-align: center;
    cursor: pointer;
    width: 55%;
    padding: 10px;
  }

  .link:hover {
    color: rgb(79, 177, 184);
  }

  input[type='sidebarButton']:hover {
    color: rgb(79, 177, 184);
  }

  .closeContainer {
    position: absolute;
    display: flex;
    top: 20px;
    right: 20px;
  }

  input[type='image'] {
    margin: auto;
    height: 25px;
    align-items: right;
  }
  /* Adjust the styles as needed */
  